PYSPARK

In [1]:
#pip install
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\hp\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\hp\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [2]:
#import pyspark
import pyspark

In [3]:
import pandas as pd
pd.read_csv('Book1.csv')

       name   age
0      krish   31
1  sudhanshu   30
2      sunny   29

In [4]:
#Making spark session
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

In [24]:
#Basic operations - File reading
df_pyspark=spark.read.csv('Book1.csv')

In [25]:
#Basic operations - File show
spark.read.option('header','true').csv('Book1.csv').show()

+---------+---+
|    name |age|
+---------+---+
|    krish| 31|
|sudhanshu| 30|
|    sunny| 29|
+---------+---+

In [26]:
#type
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [27]:
#Schema
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [30]:
#Read the dataset
df_pyspark =spark.read.option('header','true').csv('Book1.csv',inferSchema=True)

In [31]:
#check the schema
df_pyspark.printSchema()

root
 |-- name : string (nullable = true)
 |-- age: integer (nullable = true)

In [32]:
df_pyspark = spark.read.csv('Book1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+
|    name |age|
+---------+---+
|    krish| 31|
|sudhanshu| 30|
|    sunny| 29|
+---------+---+

In [33]:
#Dataframe nothing but a Datastructures
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [34]:
#check column and Indexing
df_pyspark.columns

['name ', 'age']

In [35]:
df_pyspark.head()

Row(name ='krish', age=31)

In [38]:
df_pyspark.select('age').show()

+---+
|age|
+---+
| 31|
| 30|
| 29|
+---+

In [39]:
type(df_pyspark.select('age'))

pyspark.sql.dataframe.DataFrame

In [40]:
df_pyspark['age']

Column<'age'>

In [48]:
#check describe options
df_pyspark.describe().show()

+-------+-----+----+
|summary|name | age|
+-------+-----+----+
|  count|    3|   3|
|   mean| null|30.0|
| stddev| null| 1.0|
|    min|krish|  29|
|    max|sunny|  31|
+-------+-----+----+

In [45]:
#adding columns in data frame
df_pyspark.withColumn('Inauguration',df_pyspark['Inauguration']+1)

AnalysisException: Cannot resolve column name "Inauguration" among (name , age)

In [44]:
df_pyspark.withColumn('Experience after 2 year',df_pyspark['experience']+2).show()

AnalysisException: Cannot resolve column name "experience" among (name , age)